# Node.js modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Temporary files
tmp/
temp/

# Uploaded files
uploads/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Build output
dist/
build/
